*, *::before, *::after{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root{
    --color-primary: rgb(255, 255, 255);
    --color-secondary: rgb(61, 206, 109);
    --color-bg-primary: rgb(20, 25, 41);
    --color-bg-secondary: rgb(42, 161, 82);
    --color-bg-secondary-darker: rgb(28, 107, 54);
    --color-bg-secondary-darker2: rgba(42, 161, 82, 0.548);
    --color-bg-tertiary: rgb(5, 28, 54);
    --color-black: rgb(10, 10, 10, 1);
    --color-white: rgb(230, 230, 230, 1);
    --color-gray-0: rgb(30, 30, 30, 1);
    --color-gray-1: rgb(50, 50, 50, 1);
    --color-gray-2: rgb(70, 70, 70, 1);
    --color-gray-3: rgb(90, 90, 90, 1);
    --color-gray-4: rgb(110, 110, 110, 1);
    --color-gray-5: rgb(130, 130, 130, 1);
    --color-cursor: rgb(0, 255, 0, 0.75);
    --color-shadow: rgb(0, 0, 0, 0.75);
    --color-secondary-shadow: rgb(42, 161, 82, 0.3);
    --color-tertiary-shadow: rgb(42, 161, 82, 0.5);
}

body{
    background-color: var(--color-bg-primary);
    font-family: 'Secular One', sans-serif;
    font-size: 1.1rem;
    font-weight: 400;
    color: var(--color-primary);
    transition: all .4s ease-in-out;
}

.background-shape-1{
    clip-path: polygon(0 0, 15% 0, 50% 100%, 0% 100%);
    width: 100%;
    height: 80%;
    background-color: var(--color-bg-secondary);
    z-index: -1;
    position: absolute;
    top: 10%;
    left: 0;
}
.background-shape-2{
    clip-path: polygon(17% 0%, 23% 0, 57% 100%, 52% 100%);
    width: 100%;
    height: 80%;
    background-color: var(--color-bg-secondary);
    z-index: -1;
    position: absolute;
    top: 10%;
    left: 0;
}

.section {
    position:absolute;
    color: var(--color-primary);
    width: 90%;
    height: 90%;
    min-height: 100vh;
    top: 50%;
    left: 50%;
    padding: 3rem 2rem;
    transition: all .4s ease-in-out;
    display:block;
}
.horz-margin-7{
    padding-left: 9rem;
    padding-right: 9rem;
}
.section.active{
    transform: translate(-50%, -50%);
    visibility: visible;
}

.section:not(.active){
    transform: translate(-50%, -500%);
    /* transform: translate(-50%, -50%); */
    /* visibility: hidden; */
    /* display: none; */
}

.section-title-header{
    /* position: absolute;
    left: 50%;
    transform: translateX(-50%); */
    text-align: center;
    z-index: 2;
    text-shadow: 20px 20px 3px var(--color-secondary-shadow);
    color: var(--color-primary);
}

.header-1{
    font-size: 4rem;
    font-weight: 800;
}
.header-2{
    font-size: 3rem;
    font-weight: 700;
}
.header-3{
    font-weight: 600;
    font-size: 2rem;
}
.header-4{
    font-weight: 500;
    font-size: 1.5rem;
}
.text-content{
    font-size: 1.1rem;
    font-weight: 400;
    line-height: 2rem;
}

.section-body{
    margin-top: 4rem;
    padding-bottom: 8rem;
}

.grid-2-columns{
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    /* height: 100%; */
}
.grid-1-2-columns{
    display: grid;
    grid-template-columns: 1.3fr 1fr;
    height: 100%;
}

.grid-split-column{
    display:flex;
    flex-direction: column;
    position: relative;
    height: 100%;
}


/* Circular Elements */
.grid-split-column > img {
    width: 60%;
    height: 60%;
    object-fit:contain;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all .8s ease-in-out;
}

.circular-layout-element{
    display: flex;
    flex-wrap: nowrap;
    border-radius: 50%;
    font-size: 1rem;
    z-index: 5;
    align-items: center;
    justify-content: center;
    position: absolute;
    box-shadow: 3px 3px 5px var(--color-shadow);
    left: 388.75px;
    /* transition: transform .5s ease-in-out, 
                filter .5s ease-in-out, 
                box-shadow .5s ease-in-out; */
    filter: grayscale(100%);
}

.bubble-expand-animation{
    animation-name: bubbleExpand;
    animation-duration: 8s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

@keyframes bubbleExpand{
    0% {
        transform: scale(100%) translateY(0);
        box-shadow: 3px 3px 5px var(--color-shadow);
        filter: grayscale(100%);
        z-index: 1;
    }
    10% {
        transform: scale(110%) translateY(-5px);
        box-shadow: 5px 5px 10px var(--color-shadow);
        filter: grayscale(0);
        z-index: 2;
    }
    16% {
        transform: scale(110%) translateY(-5px);
        box-shadow: 5px 5px 10px var(--color-shadow);
        filter: grayscale(0);
        z-index: 2;
    }
    30%{
        transform: scale(100%) translateY(0);
        box-shadow: 3px 3px 5px var(--color-shadow);
        filter: grayscale(100%);
        z-index: 1;
    }
    100%{
        transform: scale(100%) translateY(0);
        box-shadow: 3px 3px 5px var(--color-shadow);
        filter: grayscale(100%);
        z-index: 1;
    }
}

.circular-layout-element:hover {
    transform: scale(120%) translateY(-5px);
    box-shadow: 5px 5px 10px var(--color-shadow);
    filter: grayscale(0);
}

.circular-layout-element > img {
    width: 100%;
    height :100%;
    object-fit:cover;
}

.circle-sm{
    width: .5rem;
    height: .5rem;
}
.circle-lg{
    width: 5rem;
    height: 5rem;
    padding: 0.2rem;
}


.animation-delay-0{
    animation-delay: 1s;
}
.animation-delay-1{
    animation-delay: 1.4s;
}
.animation-delay-2{
    animation-delay: 1.8s;
}
.animation-delay-3{
    animation-delay: 2.2s;
}
.animation-delay-4{
    animation-delay: 2.6s;
}
.animation-delay-5{
    animation-delay: 3s;
}
.animation-delay-6{
    animation-delay: 3.8s;
}
.animation-delay-7{
    animation-delay: 4.2s;
}
.animation-delay-8{
    animation-delay: 4.6s;
}
.animation-delay-9{
    animation-delay: 5s;
}
.animation-delay-10{
    animation-delay: 5.4s;
}
.animation-delay-11{
    animation-delay: 5.8s;
}
.animation-delay-12{
    animation-delay: 6.2s;
}

.bg-transparent {
    background: rgb(255,255,255,0.8);
}
.bg-primary{
    background-color: var(--color-bg-primary);
    color: var(--color-primary)
}
.bg-color-pink{
    background-color: pink;
}
.bg-color-teal{
    background-color: rgb(1, 10, 139);
}
.bg-color-skyblue{
    background-color: skyblue;
}
.bg-color-yellow{
    background-color: rgb(255, 217, 0);
}
.bg-color-turquoise{
    background-color: darkturquoise;
}
.bg-color-orange{
    background-color: rgb(255, 188, 62);
}
.bg-color-magenta{
    background-color: magenta;
}
.bg-color-blue{
    background-color: rgb(19, 0, 145);
}
.bg-color-white{
    background-color: rgb(230, 230, 230);
}

.text-color-emphasis{
    color: var(--color-secondary);
    text-shadow: 3px 3px var(--color-secondary-shadow);
}

.vertical-nav-bar{
    display: grid;
    color: var(--color-white);
    position: fixed;
    grid-auto-flow: row;
    right: 0;
    top:50%;
    transform: translateY(-50%);
    gap: 20px;
    padding: 2rem 1rem;
    transition: all .4s ease-in-out;
    /* border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: var(--color-bg-primary);
    box-shadow: 1rem 1rem 2rem var(--color-shadow); */
}

/* .vertical-nav-bar:not(:hover, :focus){
    transform: translate(80%, -50%);
} */

.nav-btn{
    border: 2px solid white;
    border-radius: 50%;
    padding: 10px;
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .4s ease-in-out;
    cursor:pointer;
    opacity: .7;
    object-fit: contain;
}

.nav-btn:hover{
    /* background-color: var(--color-gray-2); */
    transform: translateY(-3px);
    box-shadow: 5px 5px 10px 5px var(--color-shadow);
    
    opacity: 1;
}

.nav-btn.active-btn {
    background-color: var(--color-bg-secondary);
    opacity: 1;
}
/* .typing-animation {
    color: var(--color-primary);
} */

.typing-animation::after{
    content: '|';
    animation: blink 1.1s steps(2, start) infinite;
    color: var(--color-primary);
}

@keyframes blink {
    to {
        visibility: hidden;
    }
}

.sliding-btn-container{
    border-radius: 25px;
    font-size: 1.5rem;
    white-space: nowrap;
    background-color: var(--color-gray-1);
    width: fit-content;
    height: fit-content;
    overflow: hidden;
    display:flex;
    color: var(--color-primary);
    text-decoration: none;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 1rem 0;
    opacity: 0;
    animation: 2s ease-in 4s 1 forwards fadeIn;
}

@keyframes fadeIn{
    from{
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.sliding-btn-icon{
    border-radius: 50%;
    padding: .5rem;
    height: 100%;
    width: auto;
    z-index: 2;
    background-color: var(--color-bg-secondary);
}
.sliding-btn-text{
    font-weight: 600;
    margin: 0 2rem;
    z-index: 2;
    background: transparent;
}
.hover-fill-bar{
    width:0;
    height:100%;
    background-color: var(--color-bg-secondary);
    position: absolute;
    right:0;
    top:0;
    transition: all .8s ease-in-out;
}
.sliding-btn-container:hover .hover-fill-bar{
    width: 100%;
}
.grid-right-column{
    justify-content: center;
    width: 80%;
}
.grid-text-content {
    padding: 1rem;
}
.secondary-color{
    color: var(--color-secondary);
}
.card-container{
    padding: 0 2rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}
.hidden-placeholder{
    visibility: hidden !important;
}
.margin-top-5{
    margin-top: 5rem;
}
.card{
    border: 2px solid var(--color-gray-4);
    padding: 1rem;
    box-shadow: 5px 5px 15px var(--color-shadow);
    transition: all .4s ease-in;
    height: fit-content;
    cursor: pointer;
}
.card-sm{
    width: 20ch;
}
.card-auto{
    width: auto;
}
.card-img{
    width: 100%;
    border: 2px solid var(--color-gray-4);
    transition: all .4s ease-in
}
.card-header{
    color: var(--color-secondary);
}
.card-body{
    transition: all .4s ease-in;
    margin-top: 1rem;
}

.card:hover {
    border: 2px solid var(--color-secondary);
    transform: translateY(-5px);
    box-shadow: 8px 8px 25px var(--color-shadow);
}
.card:hover .card-img {
    border: 2px solid var(--color-secondary);
}
.card:hover .card-body{
    opacity: 1;
}
.card-footer{
    margin-top: 1rem;
}

.abridged-text{
    display: none;

}
.abridged-text.reveal-abridged{
    display: inline;
}
.subsection-header {
    text-shadow: 5px 5px 1px var(--color-tertiary-shadow);
    display: block;
    text-align: center;
    margin: 3rem auto;
}
.skills-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 1rem;
    margin-top: 3rem;
    gap: 2rem;
}
.skill {
    width: 100%;
    /* border: 1px solid white; */
    padding: 1rem;
}

.skill-bar{
    width: 80%;
    background-color: var(--color-gray-2);
    height: 10px;
    border-radius: 10px;
    display: inline-block;
    overflow: hidden;
    position: relative;
}
.skill-bar-fill{
    content: '';
    height: 10px;
    border-radius: 10px;
    position: absolute;
    left:0;
    background-color: var(--color-secondary);
    transition: all 3s ease-in-out;
    width: 0;
}
.skills-container.visible #fill-HTML{
    width: 70%;
}
.skills-container.visible #fill-Java{
    width: 80%;
}
.skills-container.visible #fill-CSS{
    width: 60%;
}
.skills-container.visible #fill-Javascript{
    width: 90%;
}
.skills-container.visible #fill-SQL{
    width: 60%;
}
.skills-container.visible #fill-React{
    width: 50%;
}
/* .skill-bar::before{
    content: '';
    width: 80%;
    height: 10px;
    border-radius: 10px;
    position: absolute;
    
    left:0;
    background-color: var(--color-secondary);

} */
.skill-percentage {
    display: inline-block;
    margin-left: 1rem;
}

/* disable hover effect and link for the imported tree from'smartdraw'  */
.SDJS_embed_18646 > div,
.SDJS_embed_94752 > div{
    background-color: var(--color-bg-primary) !important;
}

.SDJS_embed_18646 a,
.SDJS_embed_94752 a{
    pointer-events: none;
}

.SDJS_embed_18646:hover .SDJS_fade,
.SDJS_embed_94752:hover .SDJS_fade{
    opacity: 0 !important;
}

/* Timeline Subsection*/
.timeline-container{
    gap: 5rem;
}
.timeline{
    padding: 0 2rem 0 4rem;
    display: flex;
    flex-direction: column;
    position: relative;
}
.timeline *{
    transition: all .8s ease-out;
}
.timeline-icon{
    position: absolute;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .5rem;
    top: -10px;
    left: -30px;
    width: 2.5rem;
    height: 2.5rem;
    background-color: var(--color-bg-secondary);
    box-shadow: 5px 5px 10px var(--color-shadow);
}
.timeline:hover .timeline-icon{
    transform: translateY(-5px) scale(110%);
    box-shadow: 10px 10px 15px var(--color-shadow);
}
.timeline:hover .timeline-company,
.timeline:hover .timeline-year,
.timeline:hover .timeline-content{
    transform: translateY(-3px);
    text-shadow: 3px 3px 5px var(--color-shadow);
}

.timeline-title {
    color: var(--color-secondary);
}
.timeline-company > span{
    /* color: var(--color-primary); */
    opacity: 0.8;
    font-size: 1.1rem;
    font-weight: 400;
}

@keyframes bouncing {
    0% {
        transform: translateY(-20px);
        animation-timing-function: ease-in-out;
    }
    45%{
        transform: translateY(9px) scale(100%);
        animation-timing-function: ease-out;
    }
    50%{
        transform: translateY(10px) scale(110%, 90%);
        animation-timing-function: ease-out;
    }
    55%{
        transform:translateY(9px) scale(100%);
        animation-timing-function: ease-out;
    }
    100%{
        transform: translateY(-20px);
        animation-timing-function: ease-in-out;
    }
/*     
    0% {
        transform: translateY(10px) scale(105%, 90%);
        animation-timing-function: ease-out;
    }
    5% {
        transform: translateY(9px);
        animation-timing-function: ease-in-out;
    }
    50% {
        transform: translateY(-10px);
        animation-timing-function: ease-out;
    }
    95%{
        transform: translateY(9px);
        animation-timing-function: ease-in-out;
    }
    100% {
        transform: translateY(10px) scale(105%, 90%);
        animation-timing-function: ease-out;
    } */
}

/* Style the modal dialog boxes */
.modal::backdrop {
    background-color: rgb(0,0,0,0.5);
}
.modal{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    max-height: 80%;
    background-color: var(--color-bg-primary);
    color: var(--color-primary);
    padding: 6rem;
}
.modal-img-container{
    width: 90%;
    margin: 2rem auto;
}
.modal-img {
    width: 100%;
    object-fit: contain;
    overflow: hidden;
}

.modal-close-btn{
    position: absolute;
    top:0;
    right: 0;
    border: none;
    margin: 1rem;
    cursor: pointer;
}
.modal-header {
    text-shadow: 7px 7px 1px var(--color-tertiary-shadow);
    text-align: center;
    margin-bottom: 4rem;
}
.modal-body{
    margin: 2rem 0;
}
.modal-text-content,
.modal-link-container {
    margin: 2rem 3rem 0 3rem;
}

.modal-text-content.abridged-text {
    display: inline;
}

ul {
    list-style-position: inside;
    padding-left: 3rem;
    margin-top: 1rem;
    line-height: 2rem;
}

.modal-link,
.modal-link:visited {
    color: var(--color-primary);
}
.modal-link:hover {
    color: var(--color-secondary);
}

.modal-link {
    display: inline-block;
    margin-right: 1rem;
}
.modal-link i {
    margin-right: 0.5rem;
}

/* Email Send Form */
#email-form {
    display: grid;
    /* flex-direction: column; */
    gap: 10px;
    /* flex-flow: column; */
    grid-auto-flow: row;
    /* width: 80%; */
    margin: 0 auto;
    /* padding: 2rem 4rem; */
    padding: 0 4rem;
}
input,
textarea {
    outline: none;
    font-family: 'Secular One', sans-serif;
    border: 2px solid var(--color-gray-5);
    color: var(--color-primary);
    border-radius: 10px;
    background-color: var(--color-gray-2);
    font-size: 1.1rem;
}
input[type=text],
input[type=email],
textarea {
    padding: .3rem 1rem;
}
textarea {
    resize: none;
}
input[type=text]::placeholder,
input[type=email]::placeholder,
textarea::placeholder {
    color: var(--color-primary);
    opacity: 0.7;
}
input:focus,
textarea:focus {
    border: 2px solid var(--color-secondary) !important;
    /* background-color: var(--color-bg-secondary-darker); */
    background-color: var(--color-gray-1)
}
input:hover,
textarea:hover{ 
    border: 2px solid var(--color-primary);
}
input[type=submit] {
    /* font-size: 2rem; */
    width: fit-content;
    padding: 0.4rem 1rem;
}
input[type=submit]:active {
    border: 2px solid var(--color-primary);
    background-color: var(--color-bg-secondary);
}


/* Styling for contact section */
.contact-body {
    display: flex;
}
.flex-left-container{
    flex: 2;
    display: flex;
    flex-direction: column;
    padding: 0 1rem;
}
.flex-right-container{
    flex: 3;
    padding: 0 1rem;
}
.contact-icon i{
    align-items: center;
    justify-content: center;
    margin: 0 1rem;
    object-fit: contain;
    overflow: hidden;
}
.contact-entry{
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 3rem;
}
.contact-entry:hover .contact-text,
.contact-entry:hover .contact-text a {
    color: var(--color-secondary);
}
.contact-text a {
    color: var(--color-primary);
}

.msg-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.footer {
    position: absolute;
    top: 0;
    left: 0;
    margin: 2rem;
}
.footer a{
    color: var(--color-primary);
    font-weight: 200;
    font-size: .9rem;
}

.footer a:hover{
     color: var(--color-secondary);
}
